body{
    background-color: #121050;
    color: white;
}

.time{
    border: 2px white solid;
    width: 130px;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;

    display:block
}